In [5]:
import numpy as np
import pandas as pd

In [6]:
df2 = pd.DataFrame({ 'Day': ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] })

In [7]:
df2

         Day
0     Monday
1    Tuesday
2  Wednesday
3   Thursday
4     Friday
5   Saturday
6     Sunday

In [8]:
pd.get_dummies(df2) ## One-hot encoding

,Day_Friday,Day_Monday,Day_Saturday,Day_Sunday,Day_Thursday,Day_Tuesday,Day_Wednesday
0,0,1,0,0,0,0,0
1,0,0,0,0,0,1,0
2,0,0,0,0,0,0,1
3,0,0,0,0,1,0,0
4,1,0,0,0,0,0,0
5,0,0,1,0,0,0,0
6,0,0,0,1,0,0,0

# Imputing missing values

In [9]:
URL = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
df = pd.read_csv(URL, names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'])

# Randomly select 10 rows
random_index = np.random.choice(df.index, replace=False, size=10)

# Set the sepal_length values of the rows to be None
df.loc[random_index, 'sepal_length'] = None

In [10]:
df.isnull().any()

sepal_length     True
sepal_width     False
petal_length    False
petal_width     False
class           False
dtype: bool

In [11]:
# droping the missing value row from data frame
print("Number of rows before deleting: %d" %(df.shape[0]))
df2 = df.dropna()
print("Number of rows before deleting: %d" %(df2.shape[0]))

Number of rows before deleting: 150
Number of rows before deleting: 140

In [12]:
# imputing missing value using mean
df.sepal_length = df.sepal_length.fillna(df.sepal_length.mean())

In [13]:
df.isnull().any()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
class           False
dtype: bool